<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-VDC1IJG\SUMET;Initial Catalog=Enterprise;User ID=sa;Password=19bm1202BM10" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>